<li class="mt-2 col-md-8">
<div class="card">
                        <div class="card-body">
                          
                            <div class="">
                                <div class="">{{comment}}</div>
                                <div class="">{{User.firstname}} {{User.lastname}}</div>
                                <div class="">{{created}}</div>
                            </div>
                        </div>
                    </div>
</li>