
    
<div class="container-md d-flex justify-content-center">
    <div class="row col-md-4" >
    <form action="/api/user/login" class="form-group" method="post">
         <label for="email-login" class="form-label">Email:</label>
        <input type="text" name="email" id="email" class="form-control"/>
         <label for="username-login" class="form-label">Password:</label>
        <input type="text" name="password" id="password" class="form-control"/>
        <button type="submit">Submit</button>
    </form>
   <a href="/auth/register"> <p>Register</p></a>
    </div>
</div>


