
    
<div class="container-md">
    <div class="row col-md-6">
    <form action="/api/user/register" class="form-group" method="post">
         <label for="firstname-login" class="form-label">First name</label>
        <input type="text" name="firstname" id="firstname" class="form-control"/>

           <label for="lastname-login" class="form-label">Last name</label>
        <input type="text" name="lastname" id="lastname" class="form-control"/>

         <label for="email-login" class="form-label">Email:</label>
        <input type="text" name="email" id="email" class="form-control"/>

         <label for="password-login" class="form-label">Password:</label>
        <input type="text" name="password" id="password" class="form-control"/>

        <button type="submit">Submit</button>
    </form>
    </div>
</div>
